<h1>Listing colors</h1>

<% if  current_user %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @colors.each do |color| %>
  <tr>
    <td style="color: <%= color.name %>"><%= color.name %></td>
    <td><%= link_to 'Show', color %></td>
    <td><%= link_to 'Edit', edit_color_path(color) %></td>
    <td><%= link_to 'Destroy', color, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<%= link_to 'New Color', new_color_path %>
<%end %>